@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Montserrat; /* Corrected font name */
}

.navbar {
    background-color: rgb(29, 65, 110);
    height: 70px;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.logo {
    color: white;
    font-size: 55px;
    padding: 0px 100px 0px 25px;
}

.navbar ul {
    overflow: auto;
    margin-left: 15px;
    float: right;
}

.navbar li {
    float: left;
    list-style: none;
    margin-left: 20px;
}

.navbar li a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    line-height: 70px;
    padding: 0px 25px;
}

.bkc {
    margin-top: 70px;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.content {
    font-family: "Protest Strike", sans-serif;
    font-size: 25px;
    font-weight: 1000;
    font-style: normal;
    background-color: rgb(207, 202, 202);
}

.content table {
    width: 80%; 
    margin: 0 auto; 
    border-collapse: collapse; 
}

.content th,
.content td {
    border: 1px solid black;
    background-color:  #f2f2f2; 
    padding: 10px; 
    text-align: center; 
}

.content th {
    background-color: #f2f2f2; /* Add background color to table header */
    font-weight: bold; /* Make table header bold */
}

.f {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(29, 65, 110);
  color: white;
  text-align: center;
}

.map {
    width: 270px; 
    height: 170px; 
    margin:0 auto ; 
}
.loc{ 
    border-radius: 20px;
    background-color:rgb(28, 54, 86);
    font-family: Montserrat;
    height: 50px;
    width: 101px;
    font-size: 15px;
    color: white;
    border-width: 3px;    
}